<app-checkbox *ngIf="!readonly" on="pago" off="não pago"></app-checkbox>
<span *ngIf="readonly" style="width:10%">-</span>
<app-auto-complete (add)="emitAdd($event)" (focus)="emitFocus()" [data]="data" [value]="value"
    placeholder="Diga quem vem no churras :)">
</app-auto-complete>
<app-drinking-option [selected]="drinking" (change)="emitChange($event)" *ngIf="!readonly" on="20" off="10">
</app-drinking-option>
<app-trash-can *ngIf="!readonly" (delete)="emitRemove($event)"></app-trash-can>
<span *ngIf="readonly" style="width:14%">-</span>
<span *ngIf="readonly">-</span>