<app-checkbox
  [isChecked]="paymentStatus"
  [readonly]="readonly"
  on="pago"
  off="não pago"
  (checked)="emitSetPayment($event)"
>
</app-checkbox>

<app-auto-complete
  (add)="emitAdd($event)"
  (focus)="emitFocus()"
  [data]="data"
  [value]="value"
  placeholder="Diga quem vem no churras :)"
>
</app-auto-complete>
<app-drinking-option
  [selected]="drinking"
  (change)="emitChange($event)"
  on="20"
  off="10"
  [readonly]="readonly"
>
</app-drinking-option>

<app-trash-can
  [readonly]="readonly"
  (delete)="emitRemove($event)"
></app-trash-can>
