<div class="ng-autocomplete">
  <ng-autocomplete #autocompleteChild [placeHolder]="placeholder" [data]="data" [searchKeyword]="keyword"
    (selected)='selectEvent($event)' (inputCleared)="removeEvent($event)" [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate" [initialValue]="value" (inputFocused)="emitFocus()">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>