@import "../../../styles.less";
app-barbecue-form {
  .main-card {
    padding: 30px;
  }

  form {
    width: 100%;
  }

  .po-input.po-datepicker.po-input-icon-right {
    border: none !important;
    box-shadow: none !important;
    font-size: 28px !important;
    /* display: flex; */
    /* align-items: center; */
    border-bottom: 1px solid #b6bdbf !important;
    height: 50px !important;
  }

  .ng-valid .po-input:focus {
    /* border: 1px solid #c9357d!important; */
    outline: none !important;
  }

  app-barbecue-header {
    display: flex;
    width: 95%;
    margin-bottom: 25px;
  }
  /* card box */
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .hints {
    display: flex;
    justify-content: flex-end;
  }

  //levar p/ componente
  .participant {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #e5c231;
    border-top: 1px solid #e5c231;
    width: 97%;
    padding: 0px 10px 0px 10px;
  }

  .autosave {
    font-style: italic;
    margin-top: 35px;
  }

  .btns {
    display: flex;
  }

  .btn {
    margin-top: 30px;
    margin-right: 10px;
  }

  .disabled {
    background-color: lightgray !important;
    cursor: unset !important;
  }
}
